SESSION_SECRET=
CSRF_SECRET=

WHOP_WEBHOOK_SECRET=
WHOP_API_KEY=
WHOP_APP_ID=
WHOP_AGENT_USER_ID=
WHOP_COMPANY_ID=


WHOP_MONTHLY_PLAN_ID=
WHOP_ANNUAL_PLAN_ID=
WHOP_PREMIUM_PRODUCT_ID=

TURSO_DATABASE_URL=
TURSO_AUTH_TOKEN=

GOOGLE_GENERATIVE_AI_API_KEY=